[2017-09-08 16:40] dan-passaro opened #5 "Doesn't work on Windows"
On Windows, the \<env\>\Scripts\ directory doesn't contain `python.exe` so even after activating the env with conda.el, `M-x run-python`, eshell etc. still use the system Python.

The env-specific `python.exe` is in the parent directory, i.e. the root \<env\> directory.

Can try pushing a PR to fix sometime next week.

[2017-09-11 18:44] JoshOBrien commented on #5
Looking forward to seeing how you fix this. I've been trying and failing to get [pyvenv](https://github.com/jorgenschaefer/pyvenv) to work on my Windows 7 box, and this appears to be the issue there as well. (I say that mostly because copying `python.exe` and (in my application) `python35.dll` from the root `<env>` directory into `<env>/Scripts` seems to get everything working like I'd hope.)

[2017-10-22 19:35] notuntoward opened #8 "No conda environment for file"
Every time I visit any file, I get a message like this:

  No conda environment for file <c:/Users/scotto/OneDrive/scotto/ANY_FILE>

Would it be possible to print this message only when I've visited a python file?

[2017-10-28 12:48] #8 closed

[2017-10-28 13:15] necaris commented on #8
@notuntoward the latest version should fix this -- you now have two options to silence the above message.
  1. if you _never_ want to see it, you can now set the custom variable `conda-message-on-environment-switch` to `nil`, and it will silence the messages about switching to an environment (or not finding one)
  2. if you only want `conda` functionality on Python buffers, instead of using `conda

[2017-10-28 13:17] #5 closed

[2017-10-29 13:40] notuntoward commented on #8
Perfect.  Thanks.

[2017-10-30 18:04] JoshOBrien opened #10 "(conda-env-initialize-interactive-shells) messes up 'M-x shell' on my Windows box"
Hello,

I've just recently discovered conda, and have gotten it mostly set up and working. I really appreciate the package, but no matter what I do, including `(conda-env-initialize-interactive-shells)` in my init file seems to kill my ability to launch a shell by doing `M-x shell`. (Commenting it out fixes the problem.)

I am running Vincent Goulet's [distribution](https://vigou3.github.io/emacs-

[2017-11-04 18:01] respatialized commented on #10
I've also experienced this issue on Ubuntu 17.04.

[2017-11-09 11:14] monomon commented on #10
Did some searching and this is the breaking commit https://github.com/necaris/conda.el/commit/c61b35e8a2e7e3ead06ab9feb6760cee12abd6d8

Perhaps instead of `buffer` the author meant to use `args`. Or alternatively we could add an optional argument `buffer`. But I could be missing something in the implementiation.

Either way, it's a bug.

[2017-11-09 12:02] monomon commented on #10
I created a [pull request](https://github.com/necaris/conda.el/pull/11) for this issue. The change also addresses a couple other bugs that were breaking the shell in windows.

If anyone wants to review the change it would be great. elisp newbie here.

[2017-11-19 23:24] bluewww opened #12 "Missing dependency for string-trim"
You are using string-trim in conda.el, which is defined in subr-x.
I think a
[code]
is missing at the very beginning.

[2017-11-22 15:17] necaris commented on #12
Thanks for the catch! Should be fixed in https://github.com/necaris/conda.el/commit/0bba56d80bb959a20838a024b174d1cf1e2cfd07 :smile:

[2017-11-22 15:17] #12 closed

[2017-11-22 15:19] necaris commented on #10
As #11 is confirmed to fix this I'm closing this. Please do reopen if something's still broken.

[2017-11-22 15:19] #10 closed

[2018-01-13 19:48] vikigenius opened #13 "Question about Auto Activation"
I have a query regarding the auto activation using dir-locals or environment.yml file
Why is auto activation activating the virtual environment every time i switch buffers?
Isn't it enough to activate only once when the buffer is created initially with the file name?

[2018-01-25 20:43] necaris commented on #13
@vikigenius sorry for the delayed reply. Please note that the `conda` environment state is buffer-local, so if you switch away from an activated buffer that state is no longer active, and must be restored when you switch back.

[2018-01-30 07:13] vikigenius commented on #13
@necaris Thanks for the reply.  I am new to emacs and lisp though, but i thought buffer local variables need to be set only once for the first time when the file is opened and then they retain their state even with switching?

[2018-01-30 23:14] necaris commented on #13
@vikigenius Yes, that's correct -- they retain their state _in that buffer_, but any global state (for example, the active Python script path for any Python integrations you may have) does need to be reset.

[2018-03-24 12:45] notuntoward opened #14 "elpy-use-ipython: elpy-use-ipython is deprecated"
When I run `conda-env-activate`, and select an environment, I get the following warning:

`elpy-use-ipython: elpy-use-ipython is deprecated; see https://elpy.readthedocs.io/en/latest/ide.html#interpreter-setup`

If, instead, I have `(conda-env-autoactivate-mode t)` in my .emacs, then I get an error when I start emacs:

`Error (use-package): elpy/:init: elpy-use-ipython is deprecated; see https://e

[2018-05-01 22:44] dangirsh opened #15 "conda info command in eshell doesn't reflect active env"
Reproduce by running `conda info` in a vanilla eshell configuration (Emacs 25) and see it report "active environment : None".

It's no big deal, but might be worth fixing / documenting to avoid confusing people.

[2018-08-01 20:58] dangirsh opened #16 "conda--get-name-from-env-yml fails on environment names that include hyphens"
Currently, the environment file is searched with the following regexp:

[code]

For whatever syntax class that's active in this part of the code, "w+" seems to exclude hyphens. The result is that environments with hyphens fail to be automatically detected via `environment.yml`.

[2018-11-07 19:52] necaris commented on #16
This should be fixed by @danking's patch: https://github.com/necaris/conda.el/pull/18

[2018-11-07 19:52] #16 closed

[2018-11-07 19:52] #13 closed

[2018-11-15 19:49] ztlevi opened #19 "Use conda-env-home-directory in `conda-env-location`"
It's a tiny issue. We should use `conda-env-home-directory` in [this
line](https://github.com/necaris/conda.el/blob/master/conda.el#L181) rather
`conda-home-directory`.

[2018-11-18 19:36] #19 closed

[2018-12-01 13:00] Aquan1412 opened #21 "Using conda-environments with org-babel"
Is it possible to set org-babel to use the conda environment settings? When I start a standard python session in emacs, it works flawlessly and uses the conda environment. However, when I'm using org-babel it always falls back to using the system version of python (and ipython).

[2019-01-28 08:10] jlstevens opened #22 "conda.el no longer seems to work with conda 4.6.1"
I diagnosed this by adding the following line to `~/.condarc`:

[code]

This let me alternate between these two conda versions in my base environment (I am using miniconda):

[code]

and

[code]

Restarting emacs between these two versions, I can run `conda-env-activate` and verify that running `which python` using a shell command (i.e via `M-!`) results in the appropriate path when using conda 4.

[2019-01-28 18:07] jlstevens commented on #22
It does seem that environment activation has changed. Before I had this in my `.bash_profile`:

[code]

After running `conda init` after updating conda, that line is commented out and the following is added:

[code]

[2019-01-29 09:08] jlstevens commented on #22
I've found the cause of the issue though I find it a little bizarre - essentially some printed output seem to be messing up how conda.el is handling additions to $PATH  (by mixing that stdout output with the paths). By commenting out the following print output:

[code]

Both [here](https://github.com/conda/conda/blob/master/conda/cli/activate.py#L127) and [here](https://github.com/conda/conda/blob

[2019-02-13 14:21] danielkrizian opened #25 "`conda-env-activate` does not run activate.d scripts"
`M-x conda-env-activate` does seem to ignore contents of the conda environment's [activate.d](https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#macos-and-linux) directory

For example, my `q_activate.sh` script  sets the QHOME environment variable and the test outside emacs works correctly:
[code]

In emacs and with `conda.el`, when I activate the q environment, t

[2019-04-25 08:03] johannes-mueller opened #26 "Activate environments residing in custom paths"
Usually I have my conda envs either in the project root directory in `_venv` or (sometimes) in some arbitrary directory. So not a named environment from `conda create -n <name>` but a prefixed from `conda create -p <path>`. Is there a chance to load those kind prefixed (not named) environments, too?

[2019-05-07 13:23] calizarr commented on #22
I found that at least using emacs 26.2 on Windows and the default shell in emacs is `cmd`, I just overrode  `conda--get-path-prefix`  like this:

[code]

I personally did not require the `cmd.exe` in the original definition of the function although I was experimenting. It may be worthwhile to check which version of conda is being used and fork into separate paths.

It may still require the `bash`

[2019-05-14 10:47] adbull opened #29 "conda-env-autoactivate-mode only takes effect on second visit to buffer"
`conda-env-autoactivate-mode` doesn't take effect until you open a buffer, switch away, and then switch back. The implementation adds advice to `switch-to-buffer`, which is not called the first time a buffer is loaded.

[2019-05-19 19:28] necaris commented on #26
@johannes-mueller sorry for the delay, for some reason I haven't been getting notifications for new issues. That's definitely on my roadmap, thanks for asking!

[2019-05-19 19:31] necaris commented on #25
@danielkrizian sorry for the delayed response, for some reason I haven't been seeing notifications for new issues. What would you like to see happen here -- more generally than just your specific use case? Since as you point out `activate.d` can contain arbitrary scripts, I'm not sure how we should run them and load any changed environment variables, settings, etc into Emacs!

[2019-05-19 19:31] necaris commented on #29
Thank you @adbull that's a good catch! Let me look into how to fix it!

[2019-05-19 19:33] necaris commented on #22
@jlstevens closing this as #28 should have fixed it -- please reopen if that doesn't fix it for you!

[2019-05-19 19:33] #22 closed

[2019-05-19 19:35] necaris commented on #14
@notuntoward I'm sorry for the delayed response -- for some reason I haven't been seeing notifications from this repo. I hope you've been able to solve your issue in the meantime.

I double-checked and `conda.el` isn't depending on (or calling any functionality from) `elpy` so I'm not sure how to reproduce or resolve this. On the assumption that this is more to do with your `elpy` configuration, I

[2019-05-19 19:35] #14 closed

[2019-05-19 21:07] danielkrizian commented on #25
In general use case, could `conda-env-activate` command also execute all `*.sh` scripts located in the `activate.d` directory of the selected conda environment? In any shell, running `$ conda activate [selectedCondaEnvName]` does it, `conda.el` currently does not.

[2019-05-20 02:05] jlstevens commented on #22
Great!

I guess another fix will be needed once that deprecation comes round but meanwhile I'll go ahead and test this version (and comment again here if I encounter any problems).

[2019-05-20 09:58] mtekman opened #30 "Tramp support?"
Is there any interest in getting this to work on remote machines via TRAMP?

I find that "conda-env-list" does not produce any output

[2019-05-24 16:13] necaris commented on #22
Thank you! I'm planning to look into the fixes needed in conda (and might
ping you, if you have interest) to queue that up, but for now this will
solve our issues.

On Sun, May 19, 2019 at 10:05 PM Jean-Luc Stevens <notifications@github.com>
wrote:

--
Rami Chowdhury
"A mind all logic is like a knife all blade - it makes the hand bleed that
uses it." -- Rabindranath Tagore
+1-408-372-6496 / +44-75

[2019-05-25 19:36] necaris commented on #30
@mtekman that's certainly an interesting idea, although I'm personally not sure what you would want to use it for remotely. When you activate a conda environment remotely, all of the functionality you might get from it (e.g. interactive Python REPL, documentation & IDE support) would have to be sent to / from the server, which doesn't sound very appealing to me.

Can you share some more about your

[2019-05-25 20:19] necaris commented on #21
@Aquan1412 I'm sorry for the delay in looking into this; which version of Emacs and `conda.el` have you been using? Provided I activate my conda environment _before_ I run any commands, I'm able to see it working:
[code]
However, if I don't activate my environment till after I've run a command or two, it seems Emacs starts the session with my system Python and reuses it; short of killing the activ

[2019-05-25 20:35] necaris commented on #15
@dangirsh sorry for the delayed response, and thanks for noticing! I've opened #31 to fix this -- if there's a chance you could have a look, that would be appreciated, and I'll probably merge it in the next few days.

[2019-05-25 20:47] necaris commented on #25
@danielkrizian I'm still not clear on why you're asking for those scripts to be run, so I can't be sure if any of the possible solutions I'm thinking of will help you.

When you activate a conda environment in a _shell_, running all of the `activate.d` scripts updates the state of the shell -- which may be more than just environment variables. Will just updating the environment variables solve you

[2019-05-28 04:21] #15 closed

[2019-05-28 13:15] mtekman commented on #30
@necaris When debugging an R script via ESS-mode (which works in TRAMP) the mode defaults to using the default path, which does not contain the conda packages I need to properly debug the script.

[2019-05-28 15:15] necaris commented on #30
@mtekman thank you for the clarification! I don't know ESS personally, but from a quick search it seems like when running ESS over Tramp, Emacs is connecting to a remote R process via SSH, rather than running shell commands on the remote server?

[2019-05-28 20:31] mtekman commented on #30
@necaris By my understanding, it spawns an R process over SSH on the remote server, and all local instructions are transferred to and then executed on the remote server, and then the results are transported back to the local machine. Controlling what conda environment the local machine uses is the problem for me.

[2019-05-29 13:02] WJCFerguson opened #32 "`conda-env-deactivate` is broken by recent changes to `conda-env-stripped-path`"
I just updated (;; Package-Version: 20190528.421) and can't activate an environment now.

`conda-env-stripped-path` now tries to split a PATH string into a list of strings, but it is being fed `exec-path` in `conda-env-deactivate`, which is already a list of strings.

[code]

[2019-05-29 15:00] necaris commented on #32
@WJCFerguson great catch, I'll try and get a fix out today, thank you for the report!

[2019-05-31 14:30] necaris commented on #32
@WJCFerguson this should be closed by #33 and the updated build should be on MELPA in a few hours, please let me know if things didn't work as expected!

[2019-05-31 14:30] #32 closed

[2019-06-02 00:14] amontz commented on #32
@necaris Thanks for the quick fix, but unfortunately with the 20190531.1807 release I am still not able to activate an environment. `conda-env-activate` now gives a `Wrong type argument: listp` error.

[2019-06-02 03:33] fleimgruber commented on #32
I hit that one too. `conda-env-stripped-path` now expects a list of strings, not `exec-path` and fails in https://github.com/necaris/conda.el/blob/master/conda.el#L265

[2019-06-03 06:04] fleimgruber opened #35 "eshell: print active env in prompt"
Print active env name in eshell prompt the way other shells do it, e.g. "(base)" or "(env-name)" prepended to regular eshell prompt. This would likely be solved providing a `conda-env-eshell-prompt` function to serve as `eshell-prompt-function`. What do you think? Another thing would be to make it compatible with existing prompt functions, e.g. the ones from `eshell-prompt-extras`.

[2019-06-03 06:25] fleimgruber opened #36 "conda-env-activate: Activates local dir instead of env"
In Eshell, if there is a directory named "an-env" in current working directory then activating an existing env with the same name ("an-env") via `conda-env-activate` does not error out, but does not work. On the Eshell prompt `which python` points to the wrong python and `conda list` shows this error

[code]

[2019-06-05 17:24] sampotter opened #38 ""s-join: Wrong type argument: sequencep, 47" followed by "s-join: Wrong type argument: listp, ...""
This may be related to a few other recent issues (#32, #36, #15, #19), but I wasn't sure.

When I run `conda-env-activate`, I first get the following error:

`s-join: Wrong type argument: sequencep, 47`

If I run it again, I get:

`s-join: Wrong type argument: listp, "/Users/sfp/miniconda3/bin/:/Users/sfp/miniconda3/condabin/:/usr/local/bin/:/usr/bin/:/bin/:/usr/sbin/:/sbin/:/Library/TeX/texbin/:/

[2019-06-07 16:27] necaris commented on #38
@sampotter thank you for reporting this! I'm hoping these will be fixed by #34, which should be built and on melpa in the next few hours -- I'll close it for now, optimistically, but please reopen if you update and are still seeing the issue.

[2019-06-07 16:27] #38 closed

[2019-06-07 18:51] necaris commented on #30
@mtekman now I'm confused. Do you need to have the conda environments on the _remote_ machine, where the script is running, or the _local_ machine where you might want to debug the results?

The way it works right now, using the appropriate conda environment locally should be as easy as calling `conda-env-activate`. j

However, I'm not sure how to start telling Emacs / ESS-mode how to activate the

[2019-06-07 19:23] necaris commented on #35
This is a very interesting idea, thank you!

[2019-06-07 19:27] necaris commented on #36
@fleimgruber just to be sure I'm understanding this correctly:

You're in a current working directory (say, `/home/user/projects`) and there is a directory `an-env` in it (`/home/user/projects/an-env`), and there's _also_ a conda environment named `an-env`. Then, you call `conda-env-activate` and ask it to activate `an-env`. Then it uses `/home/user/projects/an-env` as the environment directory, n

[2019-06-07 19:28] necaris commented on #21
@Aquan1412 I'm going to go ahead and close this, since I haven't been able to reproduce it; if you are able to provide more details on the issue please do reopen it!

[2019-06-07 19:28] #21 closed

[2019-06-07 19:32] fleimgruber commented on #36
Correct.

I did not really check that but after getting the conda error I did not check or investigate further. I can do that if it helps. Let me know how I can support otherwise.

[2019-06-09 20:19] sampotter commented on #38
This worked for me. Thank you!

[2019-06-19 07:56] mtekman commented on #30
Apologies, on the remote machine.

[2019-06-30 20:03] PhilippeNoel1 commented on #30
Interestered for this feature too.
Imo, the conda env must be on the remote machine. You connect to it with Tramp and you should be able to `conda-env-list` all envs on the machine.

It could be a great improvment :)

[2019-07-22 02:02] kittipatv opened #39 "Cannot activate any env on OSX"
I'm not sure if I did something wrong but I can't activate anything on OSX. I have 2 envs on my systems:

[code]

When I ran `conda-env-list`, I got an empty buffer. I do have `(custom-set-variables
 '(conda-anaconda-home "~/miniconda3/"))` in my init file.

Here are some version infos:

[code]

I got `conda.el` from MELPA.

[2019-08-11 16:18] sampotter commented on #39
I'm having the same problem. Any thoughts about how to fix this?

[2019-09-13 13:31] sampotter commented on #39
Hmm, problem seems to be fixed for me! I haven't tried this since my last message here, but just reinstalled conda.el, and it's also possible I'm using a new version of Emacs since then.

At the time of the problem, I _was_ using exec-path-from-shell, in case that helps.

[2019-09-16 00:47] necaris commented on #39
@kittipatv are you still seeing this problem?

[2019-09-17 16:57] zjp commented on #39
I'm currently having this issue. It seems like the docs expect the package to be in ~/ but homebrew sticks anaconda in /usr/local/ -- I took ownership of the directory but it looks like it isn't reading the environments there.

[2019-09-17 17:05] necaris commented on #39
@zjp thank you, that's a really helpful clue! Can you try telling `conda.el` where to find your Anaconda installation by setting the `conda-anaconda-home` customizable variable? You can set this in your `.emacs` / `init.el` with:
[code]
Or, to update the value in your current session, try `M-x customize-variable RET conda-anaconda-home RET` and enter the correct path there.

Once you've done this,

[2019-09-17 17:09] zjp commented on #39
I had had that variable set to `/usr/local/anaconda3` (after I took ownership of the folder) -- I tried also adding `/usr/local/anaconda3/envs` to `conda-env-home-directory` but couldn't get the menu to populate.

[2019-09-17 17:11] necaris commented on #39
@zjp any chance you can paste the contents of your `*Messages*` buffer after you try `conda-env-activate`?

[2019-09-17 17:34] zjp commented on #39
There is no output that I can see.

[2019-09-19 04:49] zjp commented on #39
Hmmm... I'm not sure what I did, but I rebuilt my Emacs init file and miraculously, it now finds environments in /usr/local/anaconda3. Regrettably, I'm not sure what exactly I did or I'd state what it was to try and help the original user.

[2019-09-20 17:34] necaris commented on #39
@zjp thank you for the update! Since two of the three people who reported the issue are reporting it's fixed now, I'm going to go ahead and close it -- @kittipatv if you are still seeing this problem please reopen!

[2019-10-01 20:24] johannes-mueller commented on #26
Implemented in #41.

[2019-10-01 20:24] #26 closed

[2019-10-18 18:32] notmgsk opened #42 "conda-env-deactivate doesn't restore PATH"
In an eshell buffer:
1. `(conda-env-initialize-eshell)`
2. `echo $PATH`
3. `$ activate env-name`
4. `echo $PATH`
5. `$ deactivate`
6. `echo $PATH`

I would assume that 6. and 2. would produce the same result (as is the case when running the above in e.g. `bash`). However, `PATH` is unchaged by 5. meaning that the env `env-name` is still activate at 6.

[2019-10-18 18:33] notmgsk commented on #35
Proof of concept:

[code]

[2019-10-26 20:24] necaris commented on #42
Sorry for the delayed response -- thanks for finding this!

[2019-10-27 19:25] necaris commented on #35
@notmgsk @fleimgruber see #43 which uses the proof-of-concept code above to provide an eshell prompt function. If that looks like it will work for what you had in mind I'll go ahead and merge it.

[2019-11-10 17:24] SergiyKolesnikov commented on #39
I worked around this issue by setting `conda-env-home-directory` to the same value as `conda-anaconda-home` in the `init.el`.

I believe, the regression was introduced in 2c271967871b7e114cc41198a945b1e11c3e4c64 and affects configurations with non-default `conda-anaconda-home` (e.g., `/opt/anaconda3/` instead of the default `~/.anaconda3/`).

For a non-default Anaconda path, the documentation inst

[2019-11-12 02:25] necaris commented on #39
@SergiyKolesnikov since you appear to have found an underlying cause I'm reopening this to take a deeper look when I get a minute -- thank you!

[2019-11-14 12:25] SergiyKolesnikov commented on #39
@necaris thanks for looking into this. Just wanted to note that this issue is not OSX specific, I am using Debian 10.

[2019-11-15 00:52] IllustratedMan1 opened #44 "Doesn't register new anaconda environments Win10"
I just created a new environment using the anaconda prompt, but it doesn't show up in the conda-env-list buffer. There are no packages installed in the new environment.

[2019-11-15 01:03] IllustratedMan1 commented on #44
After installing a package it works just fine.

[2019-11-15 01:03] #44 closed

[2019-11-17 08:25] anihm136 opened #45 "Help with custom conda directory"
I'm having some trouble setting the conda home directory. I have it installed at `/home/user/miniconda3`. I have set the `conda-anaconda-home` variable to the above directory, but it does not detect the environments I have created.

Also, when I manually set the environment using `M-x conda-env-activate-path`, it does not seem to make any difference to Flycheck (import of packages installed only i

[2019-11-17 23:53] simenojensen commented on #39
@necaris, I am having a similar problem.

These are my configs:

`(use-package conda
    :config
    (setq conda-anaconda-home "/usr/local/Caskroom/miniconda")
    (setq conda-env-home-directory "/usr/local/Caskroom/miniconda")
    (conda-env-initialize-interactive-shells)
    (conda-env-initialize-eshell))
`
I am also using =exec-path-from-shell=.

=M-x conda-env-list= is empty
=M-x conda-env-act

[2019-11-18 01:31] necaris commented on #45
@anihm136 does this seem related to #36 by any chance?

[2019-11-18 11:47] anihm136 commented on #45
@necaris I don't think so. I don't have any clashing names for one, and even setting the path specifically doesnt seem to be making a difference. How can I check if an env is activated after running the command?

[2019-11-28 04:02] hnisonoff commented on #39
I am also having this same problem.

[2019-11-28 22:54] notuntoward opened #47 "conda-env-activate doesn't activate base"
If I run:

` (conda-env-activate "base")`

I get the error: "No such conda environment: base"

But I do have a base environment:
[code]

[2019-12-04 14:42] dan-delion commented on #47
This is because the `envs` directory doesn't contain the `base` environment. Instead, it lies in the conda installation path.

You should be able to do `(conda-env-activate "..")` to achieve what you want.

[2019-12-04 14:52] necaris commented on #47
@dan-delion thanks for the clarification! Since you can `conda activate base`, however, I think it might warrant adding a special case for this so we're consistent.

[2019-12-06 19:39] ivan-krukov commented on #39
Aside, from the comments from @SergiyKolesnikov, there is an issue of how the env dirs are validated.

The `conda--env-dir-is-valid` function checks if the candidate directory contains `bin` or `Scripts` (on windows). It seems that those will not necessarily be contained by the environment dirs. Simply adding a `bin` dummy subdirectory into `~/<condapath>/envs/my-env/` makes `my-env` discoverable

[2019-12-17 18:43] hnisonoff commented on #39
I had to change
[code]
(setq conda-env-home-directory (expand-file-name "~/anaconda3/")
	)
[code]

[2019-12-19 11:12] anihm136 commented on #45
Update: I've still not been able to get this to work. I've tried setting the home directory to my installation (`/home/user/miniconda3`) as well as the envs folder inside it. Even `conda-env-activate-path` does not work with the absolute path to the env directory

[2019-12-25 12:29] howsiwei opened #48 "[BUG] conda-env-activate-for-buffer error"
`conda-env-activate-for-buffer` produces the following error.

[code]

[2020-01-08 17:12] howsiwei commented on #48
It's probably because `conda` was not in my path.

[2020-01-10 16:46] dfeich opened #51 "`conda-env-subdirectory` docstring references `conda-anaconda-home` instead of `conda-env-home-directory`"
This is a small error which may be responsible for users not managing to configure conda.el.

I have an anaconda configuration with
- anaconda installation: `/opt/anaconda/python3.6`
- virtual env directory: `/opt/anaconda/myenvs`

This requires
[code]
Since the docstring of `conda-env-subdirectory` suggests that the dirname will be added to `conda-anaconda-home`, some people who do not look at th

[2020-01-20 16:47] #48 closed

[2020-01-20 17:23] necaris commented on #51
Thank you for spotting this @dfeich ! I think I've addressed it in 814439d :-)

[2020-01-20 17:23] #51 closed

[2020-01-24 06:49] anihm136 commented on #45
Yes, that helped! I'm able to activate conda envs now. Thanks!

[2020-01-26 07:59] #45 closed

[2020-02-23 03:49] xiangchen2011 commented on #51
Thank you, it works.

[2020-02-25 19:44] simenojensen commented on #39
For miniconda installed with Homebrew, this fixed the error:

(setq conda-anaconda-home "/usr/local/Caskroom/miniconda/base/")

[2020-03-13 15:14] fleimgruber commented on #35
I went ahead and did https://github.com/zwild/eshell-prompt-extras/pull/30 for the mentioned `eshell-prompt-extras` package which is used by Spacemacs and is thus a natural place for me to have this feature integrated.

[2020-03-13 15:14] #35 closed

[2020-03-13 15:27] necaris commented on #35
Thanks @fleimgruber !

[2020-03-14 18:28] fkgruber commented on #5
This issue still seems to be happening in the latest version
I had to create a symbolic link of the python.exe inside the Script directory of the enviroment variable

The problem is the function:
[code]
The executable is in the root of the enviroment.

In my environment, for example, i have:

[2020-03-18 21:50] necaris commented on #5
I don't have a Windows license handy so I'm not able to test this easily, but I might have time to create a VM and try it this weekend. @fkgruber can you list what executables are in your `scripts` directory?

[2020-03-19 01:46] fkgruber commented on #5
Hi
Note that I created the symbolic link to python.exe. It was not there.
I have:
(tf2) s:\anaconda64\envs\tf2\Scripts>ls -l
ls -l
total 2820
-rw-rw-r--    2 fred     fred            74 Aug 09  2019 2to3-script.py
-rwxrwxr-x    2 fred     fred         40960 Jul 23  2019 2to3.exe
-rwxrwxr-x    1 fred     fred        106331 Mar 14 15:00 autopep8.exe
-rwxrwxr-x    1 fred     fred        106343 Mar 07

[2020-03-31 14:12] orausch opened #52 "Exec path is set incorrectly"
I'm having an issue with the `exec-path`.

https://github.com/necaris/conda.el/blob/master/conda.el#L184
This function seems to return `""` on my system. This results in `nil` being added to the exec path, and this breaks subsequent `conda-env-deactivate` calls.

After some debugging, it seems like it fails because the command `conda` isn't found. I can resolve the issue locally by fully specifyin

[2020-04-01 20:45] necaris commented on #52
@orausch can you tell me a bit more about your system? OS, Emacs version, etc?

[2020-04-01 20:49] orausch commented on #52
Sure; my OS is debian testing, my emacs version is 26.1. Conda is installed in a non-standard location: `~/.local/opt/miniconda3`, and my conda version is 4.8.2

[2020-04-09 00:27] randomphrase commented on #25
Hi, I would also like to see this support. I have just started at a new team which is using conda, and it is all new to me so please excuse any terminology problems.

My team uses conda to install the `gxx_linux-64` package which is the C++ compiler. On activation this runs the corresponding script. The main (if not only) purpose of this script is to set a bunch of environment variables which are

[2020-04-09 01:38] necaris commented on #25
It seems like environment variables are the main use case for this, so
I think I've got a path forward. I'm not going to get to this soon,
unfortunately -- would appreciate any help, though! I'll try to have a
look this weekend.

On Wed, Apr 8, 2020 at 17:27, Alastair Rankine
<notifications@github.com> wrote:

[2020-04-09 01:40] necaris commented on #52
Thank you! I'm unfortunately not likely to get back to this very soon,
but I'm hoping to have a look this weekend.

On Wed, Apr 1, 2020 at 13:49, Oliver Rausch <notifications@github.com>
wrote:

[2020-04-09 01:42] necaris commented on #5
Thank you! I'm afraid I'm not likely to get to this very soon (nor do I
have a Windows machine to test on) but I'll try to look at this this
weekend.

On Wed, Mar 18, 2020 at 18:47, fkgruber <notifications@github.com>
wrote:

[2020-04-09 21:26] seblemaguer commented on #52
Hello,

I faced the same problem which seems to be due to the shell activation of conda which is supposed to set some variables. On my side, I replaced `conda--get-path-prefix` with the following implementation:

[code]

so it go take the full path of conda based on `conda-aconaconda-home`

[2020-04-10 08:41] orausch commented on #52
@seblemaguer Yes, that seems like a reasonable solution IMO.

[2020-04-12 17:03] c02y commented on #39
`M-x conda-env-list` show no result, but in terminal `conda env list` show 3 envs including base env.

[2020-04-13 06:16] jefftrull opened #53 "activating environment does not set additional environment variables"
Conda provides the ability to set the environment variable of your choice upon entry to a conda environment using the [conda env config vars set](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#setting-environment-variables) command. I have set `LD_LIBRARY_PATH` in my development environment, in order to pick up some shared libraries:

[code]
Unfortunately

[2020-04-13 15:31] necaris commented on #53
@jefftrull this looks like it's related to #25 -- is that accurate? Or are you using a method other than an `activate.d` script?

`conda.el` does not currently support this functionality -- it's on the list of features I'd like to be able to implement, though.

[2020-04-13 15:43] jefftrull commented on #53
Ah, you are right, this is duplicate of #25 . I didn't know what `activate.d` was, but this is probably the same issue.

I have a workaround involving postactivate/predeactivate hooks for now.

[2020-04-13 15:43] #53 closed

[2020-04-13 15:47] necaris commented on #25
Just adding a note that #53 was another vote for environment variable support.

[2020-04-18 01:43] mbarton98 opened #54 "macos M-x shell produces source activate my-env BUT source not found"
Things appear to work fine when I launch python code from Emacs, but when I go to the shell it would not activate the environment until I ran "conda activate my-env"

Each time in my bash history I would see "source activate my-env" and wonder where it came from.

I looked in conda.el and found this:
`(defun conda-env-shell-init (process)
  "Activate the current env in a newly opened shell PROCESS

[2020-04-20 14:18] #52 closed

[2020-04-30 16:27] Nathan-Furnal commented on #51
@necaris

This was really helpful to me, can this be added to the README perhaps ?

I use miniconda on Linux and my setup looks like this :
[code]

[2020-05-09 19:23] necaris commented on #54
@mbarton98 thank you for reporting this, and apologies for taking so long to get to it. I'll have to look into how to maintain compatibility with an older version of Conda while using `conda activate`...

[2020-05-09 19:33] necaris commented on #51
@Nathan-Furnal see #57 which should add more clarity here :smile:

[2020-05-09 19:36] Nathan-Furnal commented on #51
Thanks for the fix!

For posterity, my current install which works perfectly is as such:

[code]

[2020-05-09 19:42] necaris commented on #54
See #58 for a partial fix, would appreciate any thoughts on it!

[2020-05-15 01:12] notuntoward opened #59 "Incorrect Windows path to conda.exe after #57"
On my Windows machine, Anaconda has installed conda.exe in:

but since #57, the conda package looks for it in:

Or so it seems, if I look at the error message emacs gives me when I try to activate an environment named "stdso":

Before #57, I think that the conda package looked in my PATH environment variable for a conda.exe, which worked correctly.

I have set both `conda-env-home-directory` and `

[2020-05-20 20:56] Shiandow commented on #59
I think this is because of some recent changes to conda--get-path-prefix. In particular it was made to default to the 'bin' folder even on windows.

On my end I've managed to fix it by overriding the function to use the `conda-env-executables-dir` which does list the correct path, and to use quoted paths (just in case there is a space in there somwhere). You can try it out by adding the following

[2020-05-21 03:53] notuntoward commented on #59
Thanks!  I'll give it a try as soon as it ends up on melpa.

[2020-05-29 17:04] jsigman commented on #30
Also interested in this. I'm envisioning activating a conda env on a remote machine so that I can use a remote python language server with lsp-mode, and that path variables would be correct.

[2020-05-29 17:10] mtekman commented on #30
I was poking through the source a few days ago, and one issue is that the current package looks for a specific conda installation directory:

[code]

Given that different remote machines are configured differently, there is no catch-all solution to setting this for hosts, unless the user sets this for all their hosts:

[code]

[2020-05-31 18:56] necaris commented on #30
@jsigman just for clarification, you're saying you'd like to activate the conda environment and run the language server _all on the remote machine_, and communicate with it from your local Emacs? This seems similar to @mtekman's use case of wanting to run exclusively remote commands -- so we're basically saying that all of the "conda activate" (etc) commands we need to run have to run on the remot

[2020-05-31 22:54] fcupo commented on #30
lsp and the python-shell-interpreter already work with tramp when `conda-env-current-dir` is set manually, with
[code]
(`tramp-cleanup-current-connection` probably has to be called for the tramp path to be applied)

So the functionality, that would have to be added, is:
- change `conda-env-list` to work differently when on remote host: `(conda-env-candidates-from-dir "/ssh:host:~/miniconda3/envs")

[2020-06-01 13:28] jsigman commented on #30
@necaris You are understanding correctly, and I would love to try to help with this. For me, it's about getting lsp-mode to work on a restrictive server. I might try to catch up on this package some more this weekend.

[2020-06-01 16:40] necaris commented on #30
@fcupo thank you for doing all that research! So it looks like we need to:
 - find a nice user experience to set the `conda-env-default-location`, e.g. perhaps setting an `alist` of known remote hosts as @mtekman suggested
 - update the `conda-env-default-location` to return the `tramp`-enabled path if that's appropriate
 - update the activation and deactivation functions to know about `tramp` pat

[2020-06-03 09:16] pmercatoris opened #63 "conda-env-activate produced error code 127"
Hello,
I have been using the conda package for a while through spacemacs with no issues. But recently when activating my environment I get the following error message:

`helm-M-x-execute-command: Error: executing command ""~/miniconda3/bin/conda" ..activate "bash" "/home/pim/miniconda3/envs/batch"" produced error code 127`

I suppose that it's a recent update from conda.el that is the cause, as i

[2020-06-03 12:00] necaris commented on #63
@pmercatoris could you tell us a bit more about your environment? In particular, can you tell us:
 - Emacs version
 - Spacemacs version
 - output of `~/miniconda3/bin/conda --version`
?

[2020-06-08 18:58] ztlevi commented on #63
@pmercatoris  I have the same error pop up. I'm able to activate on terminal.

<details>
    <summary>My Emacs info</summary>

[code]
</details>

[2020-06-11 04:50] anupam312nwd commented on #63
I am getting the same error in Doom-emacs.

[2020-06-11 11:24] simenojensen commented on #39
Mac OS - Homebrew - miniconda update:
Homebrew now installs miniconda under /opt.

This works for me now:
 (setq conda-anaconda-home "/opt/miniconda3/")

[2020-06-13 12:58] pmercatoris commented on #63
Hello, I am on emacs 28.0.50, spacemacs develop at [this commit](c6c931bc1e5677d30d0eceffe63bb068ab2c1111), but also tried it with doom develop at [this commit](e7b7f670f0c31ecff0017499b381e99a4dd81464). I am using conda from miniconda 4.8.3.

![image](https://user-images.githubusercontent.com/8655813/84569384-5ca8a300-ad86-11ea-9344-67fd96802e04.png)

[2020-06-15 16:54] ztlevi commented on #63
@necaris ^^

[2020-06-17 00:33] Sobes76rus commented on #63
Hello there!
I have same issue and solved it with set `conda-anaconda-home` to `/home/user/anaconda3` (absolute path)

[2020-06-17 20:06] ztlevi commented on #63
I can confirm the absolute path is working

[2020-06-20 16:55] notuntoward commented on #59
@necaris and @Shiandow: This is to confirm that @Shiandow's fix works for me.  Anything else needed to get #60 into melpa?

[2020-06-22 12:36] necaris commented on #59
Closed by #60

[2020-06-22 12:36] #59 closed

[2020-06-22 12:39] necaris commented on #59
@notuntoward can you confirm if the latest version on Melpa (which I've confirmed matches the most recent commit to `master`) works for you? This should include #60

[2020-06-22 14:48] notuntoward commented on #59
Yes, it works for me.  Thanks.

[2020-06-24 16:37] pmercatoris commented on #63
Thanks!

[2020-06-24 16:37] #63 closed

[2020-07-05 21:36] tim-hilt commented on #29
Don't want to bump or anything, but are there any news?

Thanks for making the package! It's been working great!

[2020-07-08 08:31] SimeonEhrig opened #64 "Is it possible that the conda-env-autoactivate-mode also deactivates the environment automatically?"
Hi, nice project. Is it possible that `conda.el` automatically deactivates the conda environment if no `conda-project-env-name` is activated in `conda-env-autoactivate-mode`? I develop many different projects with different languages and dependencies in the same Emacs. I use `projectile` to manage the projects and I want to use `conda.el` to automatically activate the right environment. But someti

[2020-07-08 12:17] necaris commented on #64
Thanks! Let me check that I've understood what you're asking:
  - currently, `conda-env-autoactivate-mode` does the "right thing" by activating the environment if `conda-project-env-name` is set (e.g. via your project- or dir-locals)
  - you'd like it to automatically _deactivate_ if no `conda-project-env-name` can be found for the current buffer. For example, if you switch from a Python buffer in

[2020-07-08 14:53] SimeonEhrig commented on #64
Yes, you understand it correct and it would be great, if you implement it.

At the moment I have a workaround with `conda run -n <env_name> <command>` for my build and run commands, so it is not a show stopper. But with the workaround I have to set the path for certain tools, like `company`, manually. In this case the `conda-env-autoactivate-mode` would make it much easier.

[2020-07-13 12:03] gmoutso opened #65 "exec-path not set with activate"
exec-path was not set up correctly so I commented the following line
[code]
I am not sure what conda--get-path-prefix is meant to do, but it gives me the empty string in linux on my env dir (or any directory). And the previous env-exec-dir let would have been lost
[code]

[2020-07-13 12:04] gmoutso commented on #65
;; Package-Version: 20200120.1721
;; Version: 0.4

[2020-07-14 00:57] necaris commented on #65
@gmoutso how are you activating the environment? Are you using `conda-env-activate` or the `autoactivate-mode`?

[2020-07-15 16:29] gmoutso commented on #65
`conda-env-activate`

[2020-07-15 17:00] gmoutso commented on #65
I was using `(conda-env-autoactivate-mode)` but I have the wrong `exec-path` even without autoactivate (after `conda-env-activate`).

[2020-07-15 17:14] gmoutso commented on #65
It works with emacs -Q (setting conda-env-home and conda-env-home-directory to ~/miniconda). I will try to find what the issue is in my configuration.

[2020-07-15 19:46] gmoutso commented on #65
After a frantic search, I realised that my init.el works perfectly well when loaded with `emacs --daemon` or `emacs -q -l ~/.emacs.d/init.el` where I have:
[code]
It fails when I run the daemon (as I usually do) with a systemctl unit `systemctl start --user emacs` where under `.config/systemd/user/emacs.service`
[code]
I have no idea why. Close the bug if you think it is not in conda.el's.
In any

[2020-07-18 14:40] necaris commented on #65
@gmoutso can you confirm if `conda-env-activate` works if you're not in daemon mode? I'd be happy to look into the daemon issue too but if it's not affecting `conda.el` functionality I probably won't have any more knowledge than you do on how to start debugging :smile:

[2020-07-27 09:55] gmoutso commented on #65
Both daemon and non-daemon are working now, but unfortunately I cannot find the critical change I made in my init.el between not working and working (whether daemon or not).

[2020-07-31 13:36] mightydeadunicorn commented on #39
@hnisonoff Thank you! I'd like to add that the same solution is valid under spacemacs, this is required under `dotspacemacs-configuration-layers`:

```(conda :variables conda-anaconda-home (expand-file-name "~/anaconda3") conda-env-home-directory (expand-file-name "~/anaconda3"))```

[2020-08-13 01:19] arthurcgusmao commented on #47
Hi, I found a bug related to activating the base environment with the abovementioned workaround: the package is not able to deactivate the environment afterward.

[This commit](https://github.com/necaris/conda.el/pull/66) fixes it. I would appreciate if you could take a look into it and see if my changes make sense. If they do, I can continue to work towards making the package list base as an opti

[2020-08-16 18:18] necaris commented on #47
Please confirm this is still present now that #66 is merged -- would love to be able to close it! Thanks @arthurcgusmao for the PR!

[2020-08-16 18:25] arthurcgusmao commented on #47
@necaris yes, this is still present. However, easier to be fixed now. Gonna tackle it as soon as I have the time. Thank you for this nice package!

[2020-08-16 20:50] notuntoward commented on #47
I just updated to the latest conda package on melpa/elpa and now I am seeing this emacs error message:

The line in my `.emacs` causing it is:

But this line has worked for at least the last six months.

And also:

[2020-08-16 20:52] #47 closed

[2020-08-16 20:54] necaris commented on #47
@notuntoward can you try updating that line to the full path to your conda env, e.g. `C:\\Users\\scott\\anaconda3\\envs\\stdso`, and confirm if it still works? If so, then perhaps we need to update the fix from #66 .

[2020-08-16 21:17] notuntoward commented on #47
As in:

`(conda-env-activate "c:/Users/scott/anaconda3/envs/stdso")`

?
Doing that, the error message is still:
[code]
(I see that the cut and paste in my last message omitted a good chunk of the full error text)

But if I go back to the way it was,

I can manually run `M-x conda-env-activate` and get a prompt from emacs, asking me to pick either `stdso` or `keras`.  But then get an error message

[2020-08-16 21:28] necaris commented on #47
I suspect it is -- I'm going to create a new issue, so that we don't confuse the details of this one, and tag you in it. Would you be able to paste the full error message (and anything that appears in your `*Messages*` buffer) there, to help debug?

I'm afraid I don't have easy access to a Windows environment so I'm not able to test this easily on Windows -- I can confirm it seems to work for me f

[2020-08-16 21:29] arthurcgusmao commented on #47
Hi, @notuntoward sorry for the issue, it likely is something with the differences Windows and Linux have of handling filenames. Unfortunately, I only tested it myself on Linux.

Probably it is something to do with the modifications in the function `conda-env-is-valid-path` for Windows, done in #66 as @necaris mentioned.

A possible workaround is `(conda-env-activate-path "c:/Users/scott/anaconda3/

[2020-08-16 21:29] necaris opened #68 "Unable to activate environment on Windows"
See https://github.com/necaris/conda.el/issues/47#issuecomment-674576255 from @notuntoward: unable to activate an existing environment using `(conda-env-activate "<name>")` in `.emacs`, despite it showing up in the list when running `M-x conda-env-activate`.

[2020-08-16 22:08] arthurcgusmao commented on #68
Context: @notuntoward is experiencing the following error, on Windows,
[code]
when trying to run
[code]

That error is raised by the `conda-env-activate-path` function when the call
[code]
returns nil.

@notuntoward, can you please check that:

1. The value of `conda-env-executables-dir` is "Scripts";
2. The file `c:/Users/scott/anaconda3/envs/stdso/Scripts/python.exe` exists;
3. The output of bot

[2020-08-18 03:37] notuntoward commented on #68
@arthurcgusmao wrote: can you please check that:

1. The value of conda-env-executables-dir is "Scripts";
**Answer: Yes**

2. The file c:/Users/scott/anaconda3/envs/stdso/Scripts/python.exe exists;
**Answer: No**  This must be the problem.  python.exe is in:
 c:/Users/scott/anaconda3/envs/stdso/python.exe

3. The output of both

**output of 1st command:**
"c:/Users/scott/anaconda3/envs/stdso/Scrip

[2020-08-18 06:13] johanwiden opened #69 "conda-env-current-name not defined: How to set global-mode-string?"
conda-env-current-name appears to be no longer defined, but the README still says that it is to be used for
updating global-mode-string.
How are we now supposed to put the current environment name in the mode string?

[2020-08-18 06:43] arthurcgusmao commented on #68
@notuntoward Yes, probably. That function was introduced in 2dce0ac, but it was only being used by the `conda-env-activate-path` function. My refactoring made `conda-env-activate` use the former as a subroutine, which revealed the bug.

I have created a fix that should solve the issue: https://github.com/arthurcgusmao/conda.el/tree/fix-68-activate-Windows

Can you please git it a try? An easy way

[2020-08-18 15:13] arthurcgusmao commented on #69
@johanwiden Sorry for the mistake and thank you for opening this issue. Please see the commit message of the abovementioned fix; now this problem should be fixed (the variable has been restored, and is being set appropriately). I will open a merge request.

[2020-08-18 15:39] arthurcgusmao commented on #29
Hi, perhaps using `set-buffer` instead of `switch-to-buffer` can be a fix, since the former is used by many other functions in `window.el`.

[2020-08-18 16:13] #68 closed

[2020-08-18 16:14] #69 closed

[2020-08-18 16:15] necaris commented on #68
@notuntoward thank you for the detailed bug report! I hope that @arthurcgusmao's helpful fix in #71 has solved this -- please let us know if that's not the case!

[2020-08-18 16:16] necaris commented on #69
@johanwiden thank you for the bug report! I'm hopeful we've fixed this with @arthurcgusmao's PR #70 but please let us know if that's not the case!

[2020-08-18 18:04] notuntoward commented on #68
@arthurcgusmao and @necaris,   Thanks -- both problems are fixed.

[2020-08-18 19:55] arthurcgusmao opened #72 "Purpose of `conda--get-path-prefix`"
Hi, recently I was digging into the code and found that `conda--get-path-prefix` seems to perform the exact same thing that
[code]
would for the same valid `env-dir`.

Example:
[code]

Since `conda--get-path-prefix` already makes use of `conda-env-executables-dir` to find the proper path to the conda command, it doesn't seem to make sense such a more complicated check performed inside of the funct

[2020-08-23 17:03] necaris commented on #72
It's mostly true that right now `conda--get-path-prefix` simply returns the executable directory within the env directory (I seem to recall it does something different on Windows, but I may be misremembering). The intent, however, is to be robust to any changes in how `conda` handles this; hence the call out to `conda ..activate` to return the information, if `conda` should change formats.

If we

[2020-08-26 20:03] arthurcgusmao opened #73 "Unable to launch terminal emulator when base env. activated"
### Context
I have the utility function shown below to launch a terminal emulator (outside Emacs) at the current directory. The OS is Linux.
[code]

### Issue
When the "base" conda env is activated in Emacs using this package, no terminal emulator is launched. The process seems to be started, since I get a return value `#<process >`, but no terminal is actually shown.

Either deactivating the envi

[2020-08-26 20:45] arthurcgusmao commented on #73
It is related to the PATH environment variable in Emacs. When I activate a conda env and then manually restore the value of PATH with
[code]
the issue disappears.

It could be some particular executable I have in my base env. that is causing it, I don't know.
From the terminal (not Emacs) I can launch another terminal w/ `x-terminal-emulator` even when the "base" env. is active.

[2020-08-26 21:24] arthurcgusmao commented on #73
Playing around with it, it seems that sometimes it works even with the base env. activated.
I will close the issue temporarily since it is more likely some local configuration rather than the effect of this package.

[2020-08-26 21:24] #73 closed

[2020-08-31 12:01] Invarianz opened #74 "Unable to activate base environment"
By following the guides on the landing page I'm unable to get the base environment to work.
I guess this comes from the fact that the base environment is not listed in `anaconda3/envs`.
Doing a clone of the base environment into a second environment with a different name works.
Currently I'm only setting
[code]

Another workaround is to create a softlink called `base` in `anaconda3/envs` that poin

[2020-09-03 21:44] necaris commented on #74
@Invarianz Can you not do `(conda-env-activate "base")`?

[2020-09-04 09:11] Invarianz commented on #74
Exactly, without my extra symlink it does not work. As I said, I think this is related to the fact that `base` is not listed in `anaconda3/envs`.

[2020-09-20 17:43] necaris commented on #74
@Invarianz can you confirm if this is still true with the latest from Melpa? This functionality should be present from https://github.com/necaris/conda.el/pull/67 so I'm surprised it doesn't work for you.

[2020-09-20 17:46] necaris commented on #39
Does https://github.com/necaris/conda.el/commit/335474e409774e31125fe320a4a54c8d92bf5fa2 add enough documentation to be able to work around this issue? I'd like to close if so.

[2020-11-07 17:27] vv111y commented on #63
Absolute path did not work for me; the problem remains.

[2021-01-01 19:56] jonmoore opened #76 "void-variable prev-env in conda-with-env"
Calling functions using `conda-with-env` currently results in a `void-variable` error against `prev-env`.

To fix this, the name `prev-env` at https://github.com/necaris/conda.el/blob/9f7eea16e9ad3eb34fe3d1cbd9d6162b8046c2f8/conda.el#L373 should be renamed to `prev-env-path`, in line with the similar renamings in https://github.com/necaris/conda.el/commit/5dc78b55682e924c40501bfc00cc40f86e6661f7

[2021-01-03 12:13] AirManH opened #77 "buffer local variable `conda-anaconda-home' not working"
If I set `conda-anaconda-home` as a _buffer local variable_, `conda-env-activate` can not activate the correct conda env.

## Steps to reproduce the problem

### Configuration

1. In `init file`:

[code]
2. My python project is organized as:

[code]
3. In `.dir-locals.el`:

[code]

### Operations

1. open `main.py`
2. `M-x conda-env-activate`, choose environment `base`, `enter`
3. `*Message*` buff

[2021-01-03 12:32] AirManH commented on #77
I did some debugging and found out what caused this error.

As the code shown below, in the line 190, the statement `(with-current-buffer standard-output` in function `conda--get-path-prefix` will override the buffer local variable `conda-anaconda-home`.

https://github.com/necaris/conda.el/blob/9f7eea16e9ad3eb34fe3d1cbd9d6162b8046c2f8/conda.el#L185-L197

If you change the code into this:

[code]

[2021-01-03 22:45] necaris commented on #77
@AirManH thanks for the report and the debugging! It looks like capturing the current value of `conda-anaconda-home` outside the `with-current-buffer` block will fix this -- any interest in submitting a PR?

[2021-01-03 22:46] necaris commented on #76
@jonmoore thank you for the catch & the debugging! Looks like a really simple fix -- any interest in submitting a PR?

[2021-01-13 20:14] #77 closed

[2021-01-28 02:09] kickerofelves opened #80 "environment aware repl"
Sorry if this is stupid but can you give details how to evaluate the buffer in the active conda environment? I'm using Elpy. If I [`C-c C-c`](https://elpy.readthedocs.io/en/latest/quickstart.html#command-elpy-shell-send-region-or-buffer) it doesn't run in the right environment. The Readme says "Support for interactive shell is turned on by calling conda-env-initialize-interactive-shell" but that i

[2021-02-11 21:04] tranner opened #81 "Buffer local environments"
I'm enjoying using the package for manually activating and deactivating conda environments. So long as I do things manually everything seems to work out just right so thanks for making this package.

I tried out `conda-env-autoactivate-mode` but I didn't really do what I was expecting at all. I think this is for two reasons. First, the environment check is done on `switch-buffer`. This seems to bo

[2021-02-18 14:51] iskur commented on #25
Here is another vote in favor of environment variable support.
The problem I described in SciTools/cartopy#1725 also appears because of a script (`proj4-activate.sh`) which sets a new environment variable is not run on `conda-env-activate`.

[2021-03-25 09:01] cimentadaj opened #83 "Can't activate conda environment"
I'm trying to activate a working conda environment from conda.el to no avail. I'm using the conda spacemacs layer. I have an environment called `test_ds` which is located in `~/opt/anaconda3/envs/`. Here's my conda.el config:

[code]

If I activate the environment manually, it works:

`conda activate test_ds`

but if I set it through `conda-env-activate` it errors with:

`"Error: executing command

[2021-04-01 11:39] necaris commented on #83
Apologies for the delay responding -- this could well be a bug, due to
a change in `conda`'s behavior perhaps. Which version of `conda` are
you using? Also, what happens if you run `~/opt/anaconda3/bin/conda\"
..activate "bash"` in a terminal?

On Thu, Mar 25, 2021 at 02:01, Jorge Cimentada
***@***.***> wrote:

[2021-04-08 16:16] notuntoward opened #84 "End of file during parsing"
The latest version of conda.el coming from elpa won't compile.  Here's the error message I get when I try:

[code]

[2021-04-08 16:30] necaris commented on #84
I'm so sorry -- that's my mistake, got overexcited making an update. Fix on the way.

[2021-04-08 16:36] notuntoward commented on #84
Thanks!

[2021-04-09 00:37] #84 closed

[2021-04-09 00:38] necaris commented on #84
@notuntoward should be fixed now, apologies for delay!

[2021-04-21 14:05] BFAnas opened #86 "NotImplemented: Check for a per-directory local variable setting the conda-project-env-name"
Hello,

Thank you for the great module. I noticed that the following is not implemented (at least not on the master branch)

[code]
This part of the code is putting it as a TODO, maybe it was implemented an then reversed...
[code]

[2021-04-22 16:26] hnisonoff opened #87 "Interactive-Shell Issue: <env_name>: command not found"
I am having trouble getting conda.el to work well with my interactive shell (M-x shell).
When I run `M-x conda-env-activate <env_name>`  and then run `M-x shell` I get:
`<env_name>: command not found`

Presumably conda.el is missing the `conda activate` part when initializing the shell, but I'm not sure why?

Here is my setup, which is slightly non-standard because my conda home director is in `/a

[2021-04-28 13:06] cimentadaj commented on #83
I'm using conda 4.10.1 and if I run ~/opt/anaconda3/bin/conda/ ..activate "bash" I get an error saying that ..activate requires two arguments. If I add the missing env directory and run  `~/opt/anaconda3/bin/conda ..activate "bash" "/Users/cimentadaj/opt/anaconda3/envs/wfh/"` (where wfh is a valid env and I can activate with conda activate wfh) I get this:

[code]

Yet the environment is not activ

[2021-05-11 21:10] jacob-lee opened #88 "MELPA install fails"
MELPA install fails

    M-x package-install conda
    package--with-response-buffer-1: https://melpa.org/packages/pythonic-20191021.811.el: Not found

I note that the melpa page indicates a 2021... package, but this message shows 20191021.

[2021-05-26 08:28] vakker opened #89 "Some environments don't activate with dir-locals"
I started a new project with a new conda env, but for some reason the new env is not activated in emacs.
I have the following in my `.dir-locals.el`:
[code]
It doesn't activate the env when I open a file from the folder.

However, if I change to another env that I've been using for some time, i.e.:
[code]
then it works without any issues.

There is no error message of anything. Any ideas?

[2021-07-13 15:06] rusty-electron commented on #83
HI, I am facing the same issue. Is there any fix available?

[2021-07-15 12:22] louisdecharson commented on #87
Having the same here ! Any news @hnisonoff  ?

[2021-07-27 08:49] trivialfis commented on #83
@rusty-electron Could you please help test https://github.com/necaris/conda.el/pull/91 ?

[2021-07-27 20:49] rusty-electron commented on #83
I tried out your PR but it still doesn't seem to be working.
![image](https://user-images.githubusercontent.com/22986666/127225106-8128bf59-f52a-4308-9e02-6abfb14d9d5d.png)

[2021-07-28 07:02] trivialfis commented on #83
That doesn't seem right, the conda command  should not be quoted after the PR.

[2021-07-28 07:50] rusty-electron commented on #83
Here is how I tested it (I am new to emacs and elisp so I might have tested it the wrong way)
1. I visited your fork of `conda.el`
2. saved your `conda.el` file in my home directory
3. opened emacs and used `<M-x> load-file` to load your `conda.el` file
4. added the following code in my `config.el` (I am using doom emacs)
[code]

[2021-08-18 01:03] #83 closed

[2021-08-20 19:04] patfla opened #92 "How to actually run python in emacs once you've run conda-activate-env?"
I have conda installed and correctly configured so that it seems that I can successfully target one of my conda environments.  From the *Messages* buffer:

That's correct - however, when I run-python and then try to import a module that's in that environment it fails in confusing ways, and in particular it tells me that the python I'm running is the default python installed outside conda which is

[2021-10-07 23:31] wtianyi opened #93 "`pop-to-buffer` vs `switch-to-buffer`"
In dcd47f4bea34a85e2d0640824ffb1df3ed12a7cd, @dwa changed the buffer-switching function that `conda--switch-buffer-auto-activate` is used to advise for, from `switch-to-buffer` to `pop-to-buffer` without much explanation.

In my use case (latest Doom Emacs (27.1) with pretty much default settings), this change makes the auto-activation stop to work for most of the buffer-switching operations inclu

[2021-10-08 22:35] wtianyi commented on #93
I'm closing the issue. Should I have a better idea about projectile I'll potentially open a new issue or pull request.

[2021-10-08 22:35] #93 closed

[2021-10-12 01:46] necaris commented on #81
Right now the variable that holds the relevant environment _is_ buffer-local, but that behavior clearly isn't doing what we expect :-(

@wtianyi tagged this issue is related to #93 although I think perhaps there's _several_ needs getting wrapped together here :-(

[2021-11-02 10:56] louisdecharson commented on #87
I've tried to debug it and for some reason `activate-command` is not set after
[code]
e.g.:
[code]
yields:  `activate-command: nil`

I've ended up modifying the function `conda-env-shell-init` in `conda.el` as:

[code]

[2021-11-02 17:05] louisdecharson commented on #87
Hi @necaris,
To me your code should work just fine, ie:
[code]
I don't understand why it does not.
So I am happy to submit a PR but I feel my solution is more a plaster than anything else and a more appealing solution would fix the `let activate-command` part.

[2021-11-02 17:17] louisdecharson commented on #87
Ok got the issue, it's was a simple parenthesis problem, I've submitted a PR to fix it:
https://github.com/necaris/conda.el/pull/95

[2021-11-05 12:45] mankoff opened #96 "Can I have multiple Python sessions at the same time?"
I seem to have `conda.el` working well for one Python session at a time. Is it possible to configure conda.el to support multiple sessions?

I'd like to open `proj.py` in folder `proj` that uses `ENV1`. Maybe start a Python session. Maybe not. Then also open `proj.py` (same file name?) in folder `proj` (same folder name? Different path?) that uses `ENV2`. Then from either `proj.py` start Python, a

[2021-11-12 15:55] funnell commented on #39
hi @necaris, like others here I had to set `conda-env-home-directory` which wasn't clear from the current README. My anaconda directory is in `~/miniconda3` and from the documentation I mistakenly thought that if my env dir was in `~/miniconda3/envs` (as it is for me) then I didn't need to also set `conda-env-home-directory`.

[2021-11-19 09:14] benbovy commented on #86
I seems that we can now set the conda env name via the `conda-project-env-path` variable (#97).

[2021-11-19 09:23] benbovy commented on #96
FWIW, I have a function in my config that auto-switches the activated conda environment at the workspace level (I'm using [persp-mode](https://github.com/Bad-ptr/persp-mode.el)):

[code]

I guess it would be possible to have something like that at the buffer level?

[2021-11-21 19:47] necaris commented on #96
`conda-env-autoactivate-mode` _should_ do this, but we don't handle the multiple Python sessions -- the inferior Python is handled separately and isn't conda env aware yet. Would love a PR or help making this happen, though!

[2021-11-28 00:27] notuntoward opened #99 "conda-env-activate can't find miniconda on Windows"
If I run:

` (conda-env-activate "base")`

I get the error: "No such conda environment: base"

But I do have a base environment:
[code]
This used to work when I was using the full anaconda3 distribution, but on this machine, I'm using miniconda, which has a different path.  Maybe that's the problem.

[2021-11-28 18:33] necaris commented on #99
@notuntoward have you set the path to your conda installation
appropriately? Look at `conda-anaconda-home` in the docs.

notuntoward ***@***.***> writes:

--
Rami Chowdhury
Come scale computation with me at Coiled!

[2021-11-29 01:58] notuntoward commented on #99
Oh, right.  That's it.  With a modified path, the conda package works as before.

[2021-11-29 01:58] #99 closed

[2021-12-09 21:13] joostkremers opened #100 "PATH doesn't seem set correctly on Windows 10"
I'm trying to set up `conda.el` on Windows, and I'm running into some problems. Initially, all I had in my init file was this:

[code]

This seemed to leave my PATH unchanged when activating an environment: after `M-x run-python`, doing:

[code]

showed that the environment directories weren't added to PATH. (They *were* added to `exec-path`, though).

Once I changed the config to:

[code]

PATH l

[2022-03-09 21:57] bombaywalla opened #101 "conda-env-activate can not select an empty env"
If I create a new conda env using `conda create --name emptyenv` then the created env does not have a `bin` directory and so `conda-env-candidates-from-dir` does not pick up the `emptyenv` and thus it is not selectable in `conda-env-activate`.

[2022-03-12 23:26] necaris commented on #101
Good catch, thank you for raising this!

[2022-03-13 02:54] #101 closed

[2022-03-13 03:10] necaris commented on #100
I haven't used Windows in a while, unfortunately; _how_ do you activate an environment if you don't use `conda activate`?

[2022-03-13 03:34] necaris commented on #39
@funnell @simenojenson @c02y are you folks still having issues, or does this work for you all now?

[2022-04-15 13:12] cakarmustactalone opened #104 "conda-get-Path-prefix: Error: executing Command <path-to-env>"
I have installed conda for my doom emacs but whenever I try to activate my environement I  could not handle this error :
`
conda--get-path-prefix: Error: executing command "/home/user/.conda/bin/conda ..activate "bash" "/home/user/.conda/envs/dataScience/"" produced error code 127`

How Can I solve this. That is really necessary for me bcause I use lsp servers on conda , not in system-wide!

Thank

[2022-04-16 07:16] cakarmustactalone commented on #104
I have tried these solution:
[code]

[2022-05-16 16:24] PhilippeNoel1 opened #105 "Support for mamba"
As mamba is now a recommended replacement for conda, it could be nice to support it

source: https://mamba.readthedocs.io/en/latest/user_guide/mamba.html

[2022-05-19 13:00] PhilippeNoel1 commented on #105
I tested for mamba and it works. In fact mamba is just like conda, so I just edit as the following:
[code]

I tested with micromamba and it does not work at the same way. There is no `conda-meta` does not exist, ...
So if you want to work with conda.el, use conda or mamba but not micromamba

[2022-05-19 13:02] necaris commented on #105
Could you please open a PR adding the default directories to the search path?

—
Rami Chowdhury
“A mind all logic is like a knife all blade - it makes the hand bleed that uses it.” - Rabindranath Tagore

[2022-05-20 14:03] PhilippeNoel1 commented on #105
I can but actually there is only `~/anaconda3` as candidate for conda-env-home. Should I add the `~/mamba` and maybe `~/miniconda` as candidates and iterate through them to search the conda path ?

[2022-05-20 15:34] necaris commented on #105
Philippe ***@***.***> writes:

That would be a great improvement, please do!

--
Rami Chowdhury
A mind all logic is like a knife all blade - it makes the hand bleed that uses it.
  -- Rabindranath Tagore

[2022-05-20 16:22] PhilippeNoel1 commented on #105
Ok no problem ! I will work on it after my vacation :)

[2022-05-31 07:27] PhilippeNoel1 commented on #105
Merged with https://github.com/necaris/conda.el/pull/106
Can close this issue

[2022-05-31 07:27] #105 closed

[2022-06-01 18:45] triccare commented on #104
Yes, it is conda 4.13.0.

Note: Though `conda` is in the path and, as mentioned any other `conda` command operates, the `conda activate` reports that the shell has not been initialized.  This is fixed by either forcing in the `-i` option along with whatever the value of `shell-comman-switch` is, or by changing the `command-format-string` to something like the following:
[code]
This would be at thi

[2022-06-02 23:10] jinschoi opened #107 "stopped working with conda 4.13.0"
I just updated conda to 4.13.0 and now conda.el no longer works. It appears to fail because the "conda ..activate" command has been removed.

I tried using the version from the fix/deprecated-conda-activate-command branch. After fixing up my startup PATH variable on macos to get conda--get-installed-version to work, I found that conda--supports-json-activator was still returning nil. I believe the

[2022-06-03 09:08] ltmsyvag commented on #104
I have a laziest fix ever:

[code]

This works if you only stick to one conda convironment, as I do. My OS is Catalina.

[2022-06-04 16:06] necaris commented on #107
Will be closed by #23

[2022-06-04 16:06] necaris commented on #104
Folks who have had this issue -- hopefully the updates in #23 will fix it. Please stay tuned!

[2022-06-04 17:27] #107 closed

[2022-06-04 17:28] #72 closed

[2022-06-04 17:28] necaris commented on #72
Hopefully closed by #23

[2022-06-04 17:28] necaris commented on #42
Hopefully closed by #23

[2022-06-04 17:28] #42 closed

[2022-06-04 18:33] ltmsyvag commented on #104
Great! I the meantime I guess the best "fix" is just `conda install conda=4.12`. Unless you have an unlikely critical dependency on the newest conda 4.13.

[2022-06-08 14:19] PhilippeNoel1 opened #111 "conda activate in vterm"
Don't know if it's user related or conda package related, but providing a bind of conda environment to a vterm instance might be interesting

This way, when launching a vterm instance, the terminal would automatically load the conda environment

[2022-06-27 12:51] keewis opened #113 "environment activation fails if `conda` is not in `exec-path`"
#23 added compatibility with new `conda` versions, but it uses the string `"conda"` as a command in several places (not sure if I found all of them):
https://github.com/necaris/conda.el/blob/ed92b4bab3b2a7868aa1b70d852cf5bdd082ea6c/conda.el#L129
https://github.com/necaris/conda.el/blob/ed92b4bab3b2a7868aa1b70d852cf5bdd082ea6c/conda.el#L248-L249
https://github.com/necaris/conda.el/blob/ed92b4bab3b2

[2022-06-28 18:34] #113 closed

[2022-06-28 18:39] necaris commented on #25
I believe as of https://github.com/necaris/conda.el/commit/44df826ce92831c2f3b446778275194a51d388e7 this is solved using upstream functionality in `conda` itself. So I'm closing this, but if it's not actually fixed please reopen!

[2022-06-28 18:39] #25 closed

[2022-06-28 18:41] necaris commented on #54
Closing this as fixed with #58 since there haven't been comments since -- please reopen if needed!

[2022-06-28 18:41] #54 closed

[2022-06-28 18:45] #76 closed

[2022-06-28 18:46] necaris commented on #74
Closing as no comments since #67, please reopen if necessary!

[2022-06-28 18:46] #74 closed

[2022-06-28 18:49] necaris commented on #29
I haven't had any issues with this functionality since this was opened, so I'm closing as inactive; please reopen if necessary!

[2022-06-28 18:49] #29 closed

[2022-06-28 18:51] necaris commented on #65
With the changes to JSON activation this should be fixed; closing as inactive for now, but if this is still relevant please reopen!

[2022-06-28 18:51] #65 closed

[2022-06-28 18:52] #80 closed

[2022-06-28 18:53] #88 closed

[2022-06-28 18:54] #104 closed

[2022-06-28 18:55] necaris commented on #89
@vakker is this still an issue for you? Closing it as inactive as I haven't been able to investigate and no further details are available, but if it is still causing errors we can try to diagnose further.

[2022-06-28 19:00] necaris commented on #92
@patfla did you have any luck with this? I'm seeing the correct Python run with `run-python` -- absent any more details I'll close this as inactive, but if you're still seeing the error we can try to diagnose further.

[2022-06-28 19:00] #92 closed

[2022-06-28 19:02] #81 closed

[2022-06-28 19:03] #87 closed

[2022-06-28 19:04] necaris commented on #86
Can someone provide more details on what is not implemented? If I set `conda-project-env-name` in a `.dir-locals.el` file, I see this activate -- what are y'all doing differently?

[2022-06-28 19:05] necaris commented on #100
@joostkremers any more details here?

[2022-06-28 19:06] #39 closed

[2022-06-28 19:08] necaris commented on #111
@PhilippeNoel1 not entirely clear what you mean but would love to see a PR!

[2022-06-29 00:30] jacob-lee commented on #88
Never got resolved, afaik, but I haven't tried in a long time

On Tue, Jun 28, 2022, 2:53 PM Rami Chowdhury ***@***.***>
wrote:

[2022-06-29 09:08] tranner commented on #81
Thanks for addressing this problem - I did find a slightly dirty workaround but this would be a much nicer solution. I'll take a look when I get chance but it might take me a while to get to it.

[2022-06-30 20:06] marcosmoyano opened #116 "conda-env-activate doesn't work with conda 4.13.0"
It tries to call a command formed like this
[code]
Downgrading to conda 4.12.0 solves to problem.

[2022-06-30 22:05] benbovy commented on #86
@necaris I don't see any variable `conda-project-env-name` defined in conda.el (main branch).

However, I see this https://github.com/necaris/conda.el/blob/214c347254cb71a39c368ccd1be54fe06898ae4b/conda.el#L591-L593

`conda-project-env-path` works for me.

[2022-06-30 22:37] necaris commented on #86
Thanks @benbovy! Going to go ahead and close this since `conda-project-env-path` works and matches the README.

[2022-06-30 22:37] #86 closed

[2022-07-02 18:49] #116 closed

[2022-07-06 13:31] cemeroncel opened #118 "Cannot deactivate conda environment"
Hello,

I am running Emacs 28.1 with native compilation and Conda 4.13. I have two `conda` environments. The command `conda-env-list` correctly shows them, and I can also activate them with `conda-env-activate`. However, when I try to deactivate them using `conda-env-deactivate` I get the following error:

`conda--call-json-subcommand: could not parse JSON stream: "invalid token near 'ArgumentErro

[2022-07-07 15:23] zzfnohell opened #119 "Add support for environment directories (envs_dirs) in .condarc conda configuration file"
https://docs.conda.io/projects/conda/en/latest/user-guide/configuration/use-condarc.html?highlight=envs_dirs#specify-environment-directories-envs-dirs

[2022-07-09 06:48] ScottH commented on #118
I'm seeing the same issue on emacs 28.1, miniconda, and I'm on OSX

[2022-07-09 17:11] necaris commented on #118
Could you post the output of the command `conda shell.posix+json deactivate $ENVIRONMENT` (where `$ENVIRONMENT` is one of your available environments)?

[2022-07-10 04:32] ScottH commented on #118
OK. Here you go. Thanks!
-Scott

(base) ***@***.*** ~ % *conda activate stats*
(stats) ***@***.*** ~ % *conda shell.posix+json deactivate
stats*

ArgumentError: deactivate does not accept arguments
remainder_args: ['stats']

But I can do this:

(stats) ***@***.*** ~ % *conda shell.posix+json deactivate*
{
  "path": {
    "PATH": [
      "/Users/scott/miniconda3/bin",
      "/Users/scott/miniconda3

[2022-07-11 04:38] ScottH commented on #118
I've tried the fix where you removed the argument to the deactivate command, but now I get this when I try to deactivate an env.

conda--get-deactivation-parameters: Wrong number of arguments: #[(subcommand env-dir) "<C6> ^X
<C7>=<83>^M^@Ȃ^N^@<C9>^Z<CA><CB>^H
^K^L%^]<CC>^M!^^^U<CD>^N^V<CE>\"<83>+^@<CF>^N^U!<82>3^@<D0>^N^U<D1><D2><D3><D4>%,<87>" [conda system-type sh subcommand env-dir cmd conda--g

[2022-07-11 04:46] ScottH commented on #118
conda-call-json-subcommand is expecting that all commands come with env-dir.
Maybe make the env-dir an optional argument so the function can handle the deactivate command?

(defun conda--call-json-subcommand (subcommand env-dir) ....

[2022-07-11 04:58] ScottH commented on #118
I tried this and it seems to work:

(defun conda--call-json-subcommand (subcommand &optional env-dir)
  "Call Conda SUBCOMMAND on ENV-DIR returning JSON."
  (unless env-dir (setq env-dir ""))
....

[2022-07-11 09:13] joostkremers commented on #100
Unfortunately, no. I've stopped using Windows, so I can't troubleshoot anymore. I did try removing Anaconda completely and using python-poetry instead to manage my environments, but never really got that working either. So I probably messed something up with my Python environment that also may have affected `conda.el`. (Either that or I'm just too stupid to use Windows. :smile: )

I'll leave it up

[2022-07-12 04:56] shrubbroom opened #121 "`conda--get-deactivation-parameters` would error with missing arguments"
Emacs verison: 28.1 mac-port with native-comp
Minimal configuration
[code]
Then use `conda-env-deactivate` to deactivate `base`.  The emacs would error with

[code]
Tune the function `conda--call-json-subcommand` a bit would help.

https://github.com/necaris/conda.el/blob/06a1ac946ed245e0b0fae2755f9641c4c180de9f/conda.el#L258-L266

[code]

PTAL

[2022-07-16 22:52] necaris commented on #121
Looks like this is the same as #118, which I'll reopen instead

[2022-07-16 22:52] #121 closed

[2022-07-17 02:51] #118 closed

[2022-07-21 04:45] zalky opened #125 "Error auto activating base env with custom conda home"
Hi, I have a custom conda home directory set according to the docs:

[code]

I'm on version: `20220717.251`

When I attempt to run the `conda--switch-buffer-auto-activate` when loading a python file with no `environment.yml` or environment specified (ie: it should default to the `base` env), I see the following error:

[code]

If I manually activate the `base` env, that seems to work. Let me know

[2022-07-21 17:21] necaris commented on #125
The way I have typically used `conda` is, aligned with the default installation, to have the "base" environment pretty much always activated by default. This is true in my terminal (thanks to `conda` messing with my `.bashrc`) and I set up Emacs to inherit settings from my terminal (see the `exec-path-from-shell` package, for instance). So I would not want to activate the "base" environment when s

[2022-07-24 18:27] zalky commented on #125
Hi, thanks for the response!

Maybe I've misunderstood the workflow you're describing, but ultimately my workflow needs are pretty basic: to be able to switch between projects (python and non-python) and not have to manually ensure the global conda environment is the right one.

I agree that `base` should be the default, but if switch from a project with a specific env active (`environment.yml`),

[2022-07-24 18:56] #119 closed

[2022-07-24 19:31] necaris commented on #125
A couple of things to clarify:
 - yes, `conda.el` does search the directory tree and try to resolve an environment even for non-Python buffers. Not only Python code can be dependent on a Conda environment -- I have personally worked with C and Javascript that needed to be `conda`-environment-aware.
 - currently, we _try_ to store the appropriate environment buffer-locally. This may well be buggy,

[2022-07-28 05:04] zalky commented on #125
- Not exactly, I have python buffers associated with different projects/conda environments, but only _some_ of them have an associated `environment.yml`. The others don't have a specific environment defined, and should just be using the `base` env, as per the heuristics you described. Switching to these projects is what was triggering the above error.
- Yes, most of my open buffers are non-python

[2022-07-31 06:04] kryptec opened #128 "conda-env-activate doesn't work but conda-env-list does"
I'm not sure if this is a package problem or a system config problem, so sorry if this is in the wrong place, but I was hoping you may have some experience with this even if it isn't!

`conda-env-list` works fine, but `conda-env-activate` generates the error

[code]

My main shell is zsh, but I can `conda activate` fine from both it and bash on my system. Though `conda activate` from eshell in ema

[2022-07-31 16:26] necaris commented on #128
Could you please provide the output of `conda info`?

[2022-08-01 00:04] kryptec commented on #128
Here your go!

[code]

[2022-08-03 13:05] kosack commented on #128
I have the same issue.  Downgrading conda to 4.12.0 seems to fix it, so it must have something to do with whatever changed in 4.13.0

Works fine:
[code]

Gives error message when calling `conda-env-activate`:
[code]

[2022-08-04 11:55] necaris commented on #128
Hmm, that implies that it's calling the deprecated activator method. Do you happen to know for sure which version (git hash) of conda.el you're using?

[2022-08-05 07:47] daiascave commented on #128
I had the same issue with doom and I can confirm it is now fixed after fixing doom emacs issue [6626](https://github.com/doomemacs/doomemacs/issues/6626)
The doom's maintainer pinned the `conda.el` version to current latest commit `a65ed0084876366fd1b238bb2b8b36ee75ac98d8`

[2022-08-05 19:58] kryptec commented on #128
Looks like it was an issue with doom pinning the conda.el version, and the newest conda.el version works fine. This has also been incorporated into doom, and running `doom upgrade` has now fixed the problem for me so I'm closing this. Thanks for everyone's help!

[2022-08-05 19:58] #128 closed

[2022-08-10 10:04] gmoutso opened #129 "conda-env-name-to-dir errors"
https://github.com/necaris/conda.el/blob/a65ed0084876366fd1b238bb2b8b36ee75ac98d8/conda.el#L349
Should the quote above be removed. Otherwise I get
Wrong type argument: consp, "/home/me/.virtualenvs/"
Regards!

[2022-08-10 14:58] marcosmoyano opened #130 "Error activating env"
After a Doom emacs update (which updated conda.el) I'm getting this error trying to activate an environment with `conda-env-activate`.

[code]

[code]

Any idea what might be causing this? Thx in advance.

[2022-08-10 17:14] marcosmoyano commented on #130
X-Ref: https://github.com/doomemacs/doomemacs/issues/6658

[2022-08-10 17:32] necaris commented on #130
Could you let me have the results of `conda info` and `doom info` please?

[2022-08-10 17:33] necaris commented on #129
When do you get that error? When running `conda-env-activate`?

[2022-08-10 17:59] marcosmoyano commented on #130
doom info
[code]

conda info
[code]

[2022-08-11 09:59] gmoutso commented on #129
Yes, after I load the library virtualenvwrapper required by traad.

[2022-08-11 10:00] gmoutso commented on #129
If I replace the line with `(if (stringp venv-location)` it works

[2022-08-11 14:36] marcosmoyano commented on #130
@necaris were you able to reproduce? is there anything I can do/try ?

[2022-08-14 19:18] necaris commented on #130
@marcosmoyano apologies for the delay, I was out of town. I'm unfortunately not able to reproduce -- from the traceback, it looks like `conda -V` is returning an error for you. Can you try both `which -a conda` (to make sure it's calling the right executable) and `conda -V` (to debug the output of the command)?

[2022-08-14 19:19] #129 closed

[2022-08-16 13:27] marcosmoyano commented on #130
[code]

Is this helpful ?

[2022-08-18 15:58] arv-n opened #132 "`conda-env-subdirectory` variable"
The README states to setup `conda-env-home-directory` and `conda-env-subdirectory` variables for a custom configuration and I was successfully using them up until the new update. Having quickly glanced at conda.el, these variables are no longer present.
Any idea what must be the changes done by the user, for setting up custom conda-env directories/subdirectories? Sorry if this is a trivial issue b

[2022-08-26 16:02] marcosmoyano commented on #130
@necaris bump ?

[2022-08-29 16:08] necaris commented on #130
@marcosmoyano any chance you could try out this branch and let me know of any errors? https://github.com/necaris/conda.el/pull/133

[2022-08-29 17:59] marcosmoyano commented on #130
Sure thing. I'll give a shot later today and report back

[2022-08-29 18:27] marcosmoyano commented on #130
BTW, conda 4.12.0 and 4.14.0 don't have this issue. I'd be ok closing this at this point. But also, happy to keep digging with 4.13 to get to the bottom of this.

[2022-08-29 19:07] necaris commented on #130
If you don't mind trying once to see what kind of errors come up with
4.13 I'd appreciate it -- just to have for future reference if other
folks run across this issue.

Marcos Moyano ***@***.***> writes:

--
Rami Chowdhury
A mind all logic is like a knife all blade - it makes the hand bleed that uses it.
  -- Rabindranath Tagore

[2022-08-30 14:32] marcosmoyano commented on #130
mmm now I'm not able to reproduce with conda 4.13.0. Don't know what I changed that fixed it. The only difference I see is in the output  of `conda info`. `shell level` is now 0 and it was 1 previously. That's the only difference.

[2022-08-30 15:06] necaris commented on #130
That could be something! Shell level 1 indicates that a conda
environment is _already_ activated; is it possible you had already
activated an environment before you started Emacs previously?

Marcos Moyano ***@***.***> writes:

--
Rami Chowdhury
A mind all logic is like a knife all blade - it makes the hand bleed that uses it.
  -- Rabindranath Tagore

[2022-08-30 15:12] marcosmoyano commented on #130
maybe? either way I can't reproduce it anymore 🤷🏼‍♂️

[2022-08-30 15:47] necaris commented on #130
Okie dokie, closing :smile:

[2022-08-30 15:47] #130 closed

[2022-09-09 00:14] renzmann commented on #30
@necaris Looks like it's been a minute since there was some discussion on this, but I'm chiming in to say I have the exact same use case as @jsigman, and came across this thread looking for solutions. No promises at the moment, but assuming I find some time and have strong enough emacs-fu I'd love to help out

[2022-09-11 17:33] necaris commented on #30
@renzmann let me know if you need any help!

[2022-09-16 12:50] renzmann commented on #30
Hey @necaris! Before I tried to change up too many things I thought I'd take down some notes for potential discussion.

I think the main barrier to TRAMP right now would be the caching mechanism, like when we poll for `conda--executable-path` https://github.com/necaris/conda.el/blob/cb9544e8f7d6c642b7fd8c1ecc2cf4fc7370c352/conda.el#L116-L122

This setup assumes a pretty different working model tha

[2022-09-18 01:07] necaris commented on #30
@renzmann that all seems sensible to me! The main concern I have is that it shouldn't require any extra work for the common case of a _local_ environment :smile:

[2022-10-11 07:00] ScottH commented on #118
I’ll try to dig in and check this tonight once the baby is asleep. Thanks!
Scott

Sent from my iPhone

[2022-11-04 00:24] epruesse opened #134 "Add conda-config (similar to elpy-config) command to re-evaluate cached values"
`conda--config` caches the parsed output of `conda config --show --json`. If that's wrong the first time round, there are constant weird error messages.

In my case, I was getting `Wrong type argument: arrayp, nil` on all `conda-*` functions called. Turns out `conda--config` contained `(json-parse-error "invalid token near 'sh'" "<string>" 1 2 2)`. It took forever to realize was actually the cache

[2022-11-05 07:58] zhenhua-wang opened #135 "When python-shell-interpreter is set to "jupyter", conda is unable to change the environment of the interpreter."
Hi,

`conda.el` works very well when python-shell-interpreter  is set to "python3". However, when using "jupyter" as python-shell-interpreter , the jupyter console is still executed in the **base** environment even if I have called `conda-env-activate`.

Below are my configs for python shell interpreter

[code]

[2022-11-06 15:45] necaris commented on #135
Can you show me the output of `which -a jupyter` in your terminal?

Zhenhua Wang ***@***.***> writes:

--
Rami Chowdhury
A mind all logic is like a knife all blade - it makes the hand bleed that uses it.
  -- Rabindranath Tagore

[2022-11-06 15:46] necaris commented on #134
That's definitely an interesting thought!

Elmar Pruesse ***@***.***> writes:

--
Rami Chowdhury
A mind all logic is like a knife all blade - it makes the hand bleed that uses it.
  -- Rabindranath Tagore

[2022-11-06 18:26] zhenhua-wang commented on #135
Thanks for your reply. Before `conda activate`, `which -a jupyter` gives

![Screenshot_20221106_122501](https://user-images.githubusercontent.com/11971417/200188302-39cae332-a607-4750-8c05-58985e6b038d.png)

After running ``conda activate` tf`, the jupyter in the `tf` does show up

![Screenshot_20221106_122413](https://user-images.githubusercontent.com/11971417/200188271-e381adf0-ff13-4495-b987-84

[2022-11-07 01:00] necaris commented on #135
I suspect you want to use the `pythonic` helper functions for your use-case -- as suggested at https://github.com/pythonic-emacs/pythonic#project-settings , if you set the `pythonic-interpreter` variable it may behave better:

[code]

Note that `conda.el` changes the Python environment using `python-shell-virtualenv-root`, which is provided by `python.el` in the core Emacs distribution, and I'm no

[2022-11-07 01:12] necaris commented on #134
Does #136 look like it'll do the trick?

[2022-11-07 01:40] zhenhua-wang commented on #135
Thanks for your help! The variable `python-shell-interpreter` is also part of the core emacs, so I also have no idea why this won't work. As for the `pythonic` package, I am not sure what it does as oppose to core emacs, so I don't plan to use it.

I do find that Ipython console (`(setq python-shell-interpreter "ipython")`) works very well with `conda.el`. Since ipython is almost the same as jupyt